<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <script>
      // Create a new EventSource connection to the specified endpoint
      const source = new EventSource('/browser-reload');
    
      // Add an event listener for the 'reload' event
      source.addEventListener('reload', function(event) {
        console.log('Reload event received from server', event);
        // Reload the current page
        console.log('Reloading page as instructed by server');
        window.location.reload();
      });
        
      // Event listener for when the connection is opened
      source.onopen = function(event) {
        console.log('Server-Sent Events connection established', event);
      };
    
      // Event listener for any errors that occur with the connection
      source.onerror = function(error) {
        console.log('Server-Sent Events error', error);
        // Close the connection if an error occurs
        source.close();
      };
    </script>
  </head>

  <body>
   Home page
  </body>
</html>